{% extends '@Component/_admin.layout.html.twig' %}

{% block body_id 'admin_post_show' %}

{% block main %}
    <h1>{{ postTitle }}</h1>

    <p class="post-metadata">
        <span class="metadata"><i class="fa fa-calendar"></i> {{ postPublishedAt|localizeddate('long', 'medium', null, 'UTC') }}</span>
        <span class="metadata"><i class="fa fa-user"></i> {{ postAuthorFullName }}</span>
    </p>

    <div class="well">
        <p class="m-b-0"><strong>{{ 'label.summary'|trans }}</strong>: {{ postSummary }}</p>
    </div>

    {{ postContent|md2html }}

    {% include '@Blog/_post_tags.html.twig' with {'tagList': postTagList} only %}
{% endblock %}

{% block sidebar %}
    <div class="section">
        <a href="{{ path('admin_post_edit', {id: postId}) }}" class="btn btn-lg btn-block btn-success">
            <i class="fa fa-edit" aria-hidden="true"></i> {{ 'action.edit_contents'|trans }}
        </a>
    </div>

    <div class="section">
        {{ include('@Blog/Admin/Post/_delete_form.html.twig', {postId: postId}, with_context = false) }}
    </div>

    {{ parent() }}

    {{ show_source_code(_self) }}
{% endblock %}
